<!DOCTYPE html>
<html lang="en" ng-app="AmqpApp">
<head>
    <title>Quant</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />

    <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/angular.min.js"></script>

    <script type="text/javascript" src="/js/bridge.js"></script>
    <script type="text/javascript" src="/js/quant.js"></script>

    <style type="text/css" media="screen">
      body { padding-top: 60px; }
    </style>
</head>
<body>
    <div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Quant-RealTime Test</a>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="MainCtrl" class="container">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Publish a Message</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5><div id="rabbitmq_box"></div></h5>
                </div>
                <div class="col-md-6">
                    <h5><div id="redis_box"></div></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Data Service</h3>
                    <textarea class="form-control" rows="6" id="data_box" ng-model="data_box"></textarea>
                </div>
                <div class="col-md-6">
                    <h3>State Service</h3>
                    <textarea class="form-control" rows="6" id="state_box" ng-model="state_box"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Classification Service</h3>
                    <textarea class="form-control" rows="6" cols="100" id="class_box" ng-model="class_box"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>State Process Status</h3>
                    <textarea class="form-control" rows="6" id="state_status" ng-model="state_status"></textarea>
                </div>
                <div class="col-md-6">
                    <h3>Class Process Status</h3>
                    <textarea class="form-control" rows="6" id="class_status" ng-model="class_status"></textarea>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
